.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.carousel-inner{
    width:100%;
    max-height: 200px !important;
    height: 200px !important;
}

.hobby-description {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.map-image {
    max-height: 250px;
}

.button-fluid {
    width: 100%;
}

.top-buffer { margin-top:20px; }

.no-border {
    border: none !important;
}

.welcome_selected {
    background-color: green;
}